{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 120,
	"proseWrap": "preserve",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": true,
				"tabWidth": 4
			}
		},
		{
			"files": ["*.js", "*.mjs", "*.json"],
			"options": {
				"useTabs": true,
				"tabWidth": 4
			}
		}
	]
}

